* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px}

html, body {
    overflow-x: hidden;
    width: 100%;
    height: 100%}

#wrapper {
    height: 100%;
    width: 100%;
    background: #0E1012;
    header {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        background: #0e1012ee;
        z-index: 10;
        img {
            width: 100px;
        }
        .nav-menu {
            margin: 20px;
            .blink {
                &:hover {
                    border-bottom: 2px solid  #007AFC;
                }
            }
            a {
                color: white;
                margin: 20px;
                text-decoration: none;
                padding: 10px;}}
        .log {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #007AFC;
            border-radius: 2vh;
            height: 3.5vh;
            transition: all ease 0.5s;
            &:hover {transform: scale(1.05)}}}
    #prosloika {width: 90%; height: 10%;}
    main {
        width: 100%;
        height: 100%;
        #sec-1 {
            height: 60vh;
            display: flex;
            color: white;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1 {
                font-size: 10vh;
                margin-bottom: 2vh;
                align-items: center}
            h2 {
                color: #bbbfc7;
                font-size: 2.5vh;
                width: 40vh;
                line-height: 4vh;
                text-align: center}
            button {
                padding: 1vh;
                width: 30vh;
                border-radius: 10vh;
                border: none;
                margin: 2vh;
                background: #007AFC;
                color: white;
                font-size: 2vh;
                font-weight: 600;
                transition: all ease 0.5s;
                &:hover {transform: scale(1.05)}}}
        #sec-2 {
            height: 70vh;
            width: 100%;
            background: #0E1012;}
        #sec-3 {
            height: 60vh;
            color: white;
            background: #0E1012;
            #perdl-main {
                display: flex;
                justify-content: center;
                align-items: center;
                #predlos {
                    margin: 30px;
                    width: 300px;
                    h1 {
                        font-size: 40px;
                        margin-bottom: 2vh}
                    p {
                        color: #bbbfc7;
                        line-height: 4vh}
                    button {
                        padding: 1vh;
                        width: 250px;
                        border: 2px solid rgb(65, 63, 63);
                        border-radius: 20px;
                        margin-top: 20px;
                        color: white;
                        background: #007afc00;
                        transition: all ease 0.5s;
                        &:hover {
                            border: 2px solid #007AFC}}}
                img {
                    width: 600px;
                    border-radius: 50px;
                    transition: all ease 1s;
                    &:hover {
                        transform: scale(1.05);
                    }}}}
        #sec-4 {
            height: 40vh;
            color: white;
            background: #0E1012;
            #perdl-main {
                display: flex;
                justify-content: center;
                align-items: center;
                #predlos {
                    width: 400px;
                    h1 {
                        font-size: 40px;
                        margin-bottom: 2vh}
                    p {
                        color: #bbbfc7;
                        line-height: 4vh}
                    button {
                        padding: 1vh;
                        width: 250px;
                        border: 2px solid rgb(65, 63, 63);
                        border-radius: 20px;
                        margin-top: 20px;
                        color: white;
                        background: #007afc00;
                        transition: all ease 0.5s;
                        &:hover {
                            border: 2px solid #007AFC}}}
                img {
                    width: 600px;
                    margin: 40px;
                    border-radius: 50px;
                    transition: all ease 1s;
                    &:hover {
                        transform: scale(1.05);
                    }}}}
        #sec-5 {
            height: 100vh;
            color: white;
            background: #0E1012;
            display: flex;
            justify-content: center;
            align-items: center;
            #inf {
                background: #161A1D;
                border-radius: 50px;
                padding: 20px;
                height: 500px;
                width: 150vh;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                #text {
                    h1 {
                        font-size: 40px;
                        margin-bottom: 2vh}
                    p {
                        color: #bbbfc7;
                        width: 50%;
                        line-height: 4vh}
                    button {
                        padding: 1vh;
                        width: 250px;
                        border: 2px solid rgb(65, 63, 63);
                        border-radius: 20px;
                        margin-top: 20px;
                        color: white;
                        background: #007afc00;
                        transition: all ease 0.5s;
                        &:hover {
                            border: 2px solid #007AFC}}}
                    img {
                    width: 750px;
                    border-radius: 50px;
                    transition: all ease 1s;
                    &:hover {
                        transform: scale(1.05);
                    }}}}
    }
    footer {
        color: #bbbfc7;
        width: 100%;
        height: 12%;
        background: #161A1D;
        display: flex;
        align-items: center;
        justify-content: space-around;
        img {
            width: 100px;
        }
        #link {
            a {
                margin: 10px;
                text-decoration: none;
                color: #bbbfc7;
            }
        }
    }
}