#sec-6 {
    width: 100%;
    height: 20%;
    color: white;
    padding: 25px;
    #serch {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            font-size: 40px;
            margin: 20px}
        #main_search {
            display: flex;
            align-items: center;
            justify-content: center;
            input {
                padding: 1.5vh;
                margin: 10px;
                outline: none;
                color: white;
                border: none;
                border-bottom: 2px solid #007AFC;
                background: #23272b00;;
                &:nth-child(1) {
                    width: 900px}}
            input[type=date] {
                color: white;
                &::-webkit-calendar-picker-indicator {
                    filter: invert(1);
                    font-size: 2vh}}
            button {
                border: none;
                padding: 2.5vh;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #007AFC;
                color: white;
                border-radius: 5vh;
                height: 3.5vh;
                transition: all ease 0.5s;
                &:hover {transform: scale(1.05)}}}}}
#sec-7 {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #0E1012;
    #opis {
        width: 30%;
        h1 {
            color: white;
            font-size: 40px;
            margin-bottom: 2vh}
        p {
            width: 50%;
            color: #bbbfc7;
            line-height: 4vh}
        button {
            padding: 1vh;
            width: 250px;
            border: 2px solid rgb(65, 63, 63);
            border-radius: 20px;
            margin-top: 20px;
            color: white;
            background: #007afc00;
            transition: all ease 0.5s;
            &:hover {
                border: 2px solid #007AFC}}
    }
}
